* {
  margin: 0;
  padding: 0;
  font-family: "Fjalla One", sans-serif;
}

li {
  font-family: "Fjalla One", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}

#hero-image {
  height: 10vh;
  width: 100%;
  display: block;
  background-color: cornflowerblue;
}

nav {
  display: flex;
  flex-direction: row;
}

.nav-button {
  display: block;
  height: 3rem;
  width: auto;
  margin: 1rem 3rem;
  font-size: 2rem;
  cursor: pointer;
  color: cornflowerblue;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#wrapper-calculator-individual-or-compare {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12vw;
  height: 5rem;
  margin: 1rem 0;
  padding: 0 1rem;
  border: 2px solid cornflowerblue;
  text-transform: uppercase;
  font-size: 2rem;
  cursor: pointer;
}

#player-name-text-input {
  margin: 3rem 0 0 0;
  border-radius: 0.2rem;
  height: 3rem;
  font-size: 2.8rem;
  border: none;
  border-bottom: 2px solid cornflowerblue;
}

.wrapper-calculator-form {
  margin: 1.5rem 0 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

#player-name-text-input:focus {
  outline: none;
}

#calculcator-submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  font-size: 1.7rem;
  margin: 2rem 0 0 0;
  padding: 1rem;
  background-color: cornflowerblue;
  border: 3px solid cornflowerblue;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

#calculcator-submit-button:hover {
  color: cornflowerblue;
  background-color: white;
}

.wrapper-calculator-form-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper-calculator-form-inner label {
  text-transform: capitalize;
  margin: 1rem 3rem;
  font-size: 2.5rem;
  color: cornflowerblue;
}

.wrapper-calculator-form-inner option, .calculator-results-form-inner option {
  text-transform: capitalize;
  font-size: 1.5rem;
  color: cornflowerblue;
}

.wrapper-calculator-form-inner select, .wrapper-calculator-form-inner input, .calculator-results-form-inner select, .calculator-results-form-inner input {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: cornflowerblue;
  height: 1.8rem;
  border-radius: 0.3rem 0.3rem 0 0;
}

.wrapper-calculator-results {
  display: grid;
  align-items: center;
  grid-template-columns: 30% 70%;
  column-gap: 1rem;
  width: 95%;
  margin: 0 0 3rem 0;
}

#compare-results {
  grid-template-columns: 25% 50% 25%;
  align-items: flex-start;
  justify-content: center;
}

.wrapper-calculator-player-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: auto;
  background-color: cornflowerblue;
  color: white;
  padding: 1.5rem 0;
  border-radius: 0.5rem;
  transition: transform .25s;
  height: 85vh;
  animation: player-card-animation 0.25s ease-in-out;
}

.wrapper-calculator-player-card:hover {
  box-shadow: 8px 8px 8px 8px rgb(80, 79, 79);
  transform: scale(1.025);
  cursor: pointer;
}

@keyframes player-card-animation {
  0% {
    margin-left: -100%;
    opacity: 0;
  } 
  100% {
    margin-left: 0;
    opacity: 100%;
  }
}

.player-image {
  width: 150px;
  height: auto;
  background-color: rgb(139, 174, 238);
  border-radius: 3rem;
}

.wrapper-calculator-player-card-data {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 75%;
}

.wrapper-calculator-player-card-data  #player-name {
  font-size: 2rem;
  margin: 1rem 0;
  text-align: center;
}

.wrapper-calculator-player-card-data  #player-rank {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 3rem;
}

.calculator-results {
  width: 90%;
  border: 3px solid cornflowerblue;
  border-radius: 1rem;
  padding: 0.7rem;
  display: grid;
  grid-template-columns: 32% 68%;
}

.calculator-player-input {
  position: relative;
}

.calculator-name-fetcher {
  width: 100%;
  z-index: 10;
  top: 110%;
  position: absolute;
}

.calculator-name-fetcher-player {
  display: flex;
  align-items: center;
  height: 7vh;
  width: 100%;
  z-index: 11;
  color: white;
  background-color: cornflowerblue;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  border-bottom: 3px solid white;
  padding: 0 1rem;
}

.calculator-name-fetcher-player:hover {
  color: cornflowerblue;
  background-color: white;
  border-bottom: 3px solid cornflowerblue;
}

.player-card-data-line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

#player-card-performance-label {
  font-size: 1rem;
  margin-top: 1.2rem;
}

.performance-stats {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  color: cornflowerblue;
  margin: 0.5rem 0 0 0;
}

.performance-stats-section {
  
}

.perfromance-stats-individual {
  width: 100%;
  margin: 0 0 0.3rem 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.performance-stats-ranks {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid cornflowerblue;
  border-radius: 1rem;
  color: white;
  background-color: cornflowerblue;
}

.calculator-results label {
  color: cornflowerblue;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1.35rem;
}

.calculator-results #label-info {
  font-size: 0.9rem;
}

.circle-info {
  color: white;
  height: 1.5rem;
  background-color: cornflowerblue;
  border: 1px solid cornflowerblue;
  border-radius: 0.8rem;
  margin: 0 0.3rem;
}

.circle-info-player-stats {
  background-color: cornflowerblue;
  color: white;
  position: absolute;
  top: 3.5%;
  right: 3.5%;
  cursor: pointer;
}

.get-player-matches {
  position: absolute;
  width: auto;
  height: auto;
  top: 0%;
  right: -7.8rem;
  color: white;
  background-color: rgb(115, 157, 235);
  border-radius: 0.3rem;
  padding: 0.3rem;
  z-index: 10;
  transition: all 0.2s ease-in;
}


.get-player-matches p:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.player-matches {
  display: grid;
  grid-template-columns: 14% 16% 25% 8% 25% 8% 8%;
  margin: 1rem;
  color: cornflowerblue
}

.player-matches p, .individual-match-property {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.2rem;
}

.player-matches-header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.winner {
  border: 2px solid rgb(93, 168, 93);
  color: rgb(93, 168, 93);
  background-color: white;
}

.loser {
  border: 2px solid red;
  color: red;
  background-color: white;
}

#match-result {
  border-top: 2px solid cornflowerblue;
  border-bottom: 2px solid cornflowerblue;
}

#current-player-loser {
  background-color: red;
  color: white;
}

#current-player-winner {
  background-color: rgb(93, 168, 93);
  color: white;
}

.player-matches-data-header .individual-match-property{
  background-color: cornflowerblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-page-matches-wrapper {
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.home-page-matches-wrapper > h1 {
  color: cornflowerblue;
}

.todays-matches-container {
  width: 90%;
  margin-top: 2rem;
}

.match-container {
  color: cornflowerblue;
  font-size: 1.5rem;
  display: grid;
  align-items: center;
  grid-template-columns: 17% 17% 17% 17% 17% 7.5% 7.5%;
  padding: 1rem 0;
  border: 2px solid cornflowerblue;
}

.match-container > span {
  display: flex;
  align-items: center;
  justify-content: center;
}

#login-btn {
  background-color: cornflowerblue;
  padding: 0.5em 1.6rem;
  color: white;
  border: 2px solid cornflowerblue;
}

#login-btn:hover {
  background-color: white;
  color: cornflowerblue;
  border: 2px solid cornflowerblue;
}

.login-and-account-btn {
  position: absolute;
  text-transform: uppercase;
  top: 12vh;
  right: 7vh;
  font-size: 1.4rem;
  cursor: pointer;
}

#account-btn {
  color: cornflowerblue;
  top: 15%;
}

#account-btn:hover {
  border-bottom: 2px solid cornflowerblue;
}

#account-email {
  position: absolute;
  top: 12%;
  right: 3%;
  color: cornflowerblue;
}

.login-register {
  position: absolute;
  width: 20vw;
  height: auto;
  top: 22.5vh;
  right: 7vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid cornflowerblue;
  padding: 1rem;
  padding-bottom: 2rem;
  z-index: 100;
  background-color: cornflowerblue;
  border-radius: 0.6rem;
}

.login-register input {
  font-size: 1.1rem;
  width: 90%;
}

.login-register button, #register-btn, #login-button {
  background-color: white;
  color: cornflowerblue;
  border: none;
  font-size: 1.5rem;
  padding: 0.1rem 1rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.login-register h3 {
  color: white;
  margin: 1rem 0;
}

.login-register h2 {
  color: white;
}

.eye {
  position: absolute;
  right: 6.5%;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.747);
}

.visible-password {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative
}

#register-offer, #register-form-inner {
  position: relative;
  border-bottom: 1px solid white;
  width: 100%;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#or-sign {
  position: absolute;
  bottom: -0.8rem;
  color: white;
  background-color: cornflowerblue;
  padding: 0 0.3rem;
}

#register-btn {
  margin: 0.5rem 0;
}

#register-form h2 {
  margin: 1rem 0;
}

#error-message {
  color: rgb(102, 0, 0);
  background-color: rgba(255, 0, 0, 0.199);
  padding: 0.2rem;
  border: 1px solid rgb(102, 0, 0);
}

#success-message {
  color: rgb(1, 107, 1);
  background-color: rgba(0, 128, 0, 0.2);
  padding: 0.2rem;
  border: 1px solid rgb(1, 107, 1);
}

#compare-results-ranks {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 45% 45%;
  column-gap: 1rem;
  margin: 1rem;
}

.calculator-results-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 7.5%;
  margin: 0 1rem 1rem 1rem;
}

.calculator-results-form-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: cornflowerblue;
}

#account-manager-window {
  position: absolute;
  background-color: cornflowerblue;
  top: 15%;
  right: 3.5%;
  margin: 2rem 0;
  width: 20%;
  padding: 0.5rem;
  border-radius: 0.6rem;
}

#logout-btn {
  background-color: red;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.account-setting {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 0.4rem;
  border-radius: 0.5rem;
}

.account-setting:hover {
  color: cornflowerblue;
  background-color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

.change-password {
  font-size: 1.1rem;
  background-color: cornflowerblue;
  position: relative;
  color: white;
  width: 20%;
  padding: 1.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.change-password input {
  font-size: 1.1rem;
  width: 100%;
}

.change-password .visible-password {
  margin-bottom: 1rem;
}

.change-password h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.change-password button {
  background-color: white;
  color: cornflowerblue;
  border: none;
  padding: 0.3rem 0.8rem;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 0.3rem;
}

.change-password form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.prediction-wrapper {
  font-size: 1.5rem;
  color: cornflowerblue;
}

.certainity-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.certainity-wrapper .certainity-div {
  border: 1px solid black;
  margin: 0 0.1rem;
  display: block;
  background-color: white;
  width: 10%;
  height: 20px;
}




